<a href="https://colab.research.google.com/github/mahesh-y/mahesh-y.github.io/blob/master/udemy_12_spark_functions1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#@title load spark in colab
#for the most recent update on 02/29/2020
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q -nv https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar -xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"
# 3.Start Spark Session
import findspark
findspark.init("spark-2.4.5-bin-hadoop2.7")

In [0]:
#@title create dummy DF
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('test1').getOrCreate()
from pyspark.sql import functions as F
# create dataframe with one column of a sequence
df_start=5; df_len = 100; step =2
df1 = spark.range(df_start, df_len, step).toDF("id")
df1.show(5)
# add multiple columns
df1.withColumn("id1",df1["id"] ).withColumn("id2", F.col("id")+F.col("id1")).show(5)

+---+
| id|
+---+
|  5|
|  7|
|  9|
| 11|
| 13|
+---+
only showing top 5 rows

+---+---+---+
| id|id1|id2|
+---+---+---+
|  5|  5| 10|
|  7|  7| 14|
|  9|  9| 18|
| 11| 11| 22|
| 13| 13| 26|
+---+---+---+
only showing top 5 rows

# New Section

In [0]:
#@title stack many DF
df1 = spark.createDataFrame([('apple','ball','ballon'),('cat','camel','james'),('none','focus','cake')],["col1", "col2", "col3"])
df1.show()
df1.union(df1).show()

df2_schema = df1.schema
df2 = spark.createDataFrame([], df2_schema)
for ii in range(5):
  df2 = df2.union(df1)
  print(df2.count())

+-----+-----+------+
| col1| col2|  col3|
+-----+-----+------+
|apple| ball|ballon|
|  cat|camel| james|
| none|focus|  cake|
+-----+-----+------+

+-----+-----+------+
| col1| col2|  col3|
+-----+-----+------+
|apple| ball|ballon|
|  cat|camel| james|
| none|focus|  cake|
|apple| ball|ballon|
|  cat|camel| james|
| none|focus|  cake|
+-----+-----+------+

3
6
9
12
15

In [0]:
#@title add seq column to DF
from pyspark.sql import functions as f
from pyspark.sql import Window
df2 = df1.withColumn(
    "index",
    f.row_number().over(Window.orderBy(f.monotonically_increasing_id()))
)
df2.show()
df2.withColumn("index_sq", df2['index']*2).show()

+-----+-----+------+-----+
| col1| col2|  col3|index|
+-----+-----+------+-----+
|apple| ball|ballon|    1|
|  cat|camel| james|    2|
| none|focus|  cake|    3|
+-----+-----+------+-----+

+-----+-----+------+-----+--------+
| col1| col2|  col3|index|index_sq|
+-----+-----+------+-----+--------+
|apple| ball|ballon|    1|       2|
|  cat|camel| james|    2|       4|
| none|focus|  cake|    3|       6|
+-----+-----+------+-----+--------+

In [0]:
#@title add rand/normal to DF
from pyspark.sql import functions as f
df1 = spark.f.rand().toDF("id")
df1.show(5)
# add multiple columns
df1.withColumn("id1",df1["id"] ).withColumn("id2", F.col("id")+F.col("id1")).show(5)

AttributeError: ignored